<div class="quiz__container">
	<div class="quiz_logo">
		<img src="assets/imgs/logo.png" alt="">
		<h3>{{ title }}</h3>
	</div>
	<div *ngIf=!finished class="quiz_questions">
		<h3>{{ questionSelected?.text ?? "" }}</h3>
	</div>
	<div *ngIf=!finished class="quiz_options">
		<button
			*ngFor="let answer of questionSelected.answers"
			(click)="selectAnswer(answer)"
			class="btn-option">
			{{ answer.text }}
		</button>
	</div>
	<div *ngIf=finished class="quiz_results">
		<h1>O seu resultado é:</h1>
		<div class="quiz_hero">
			<div class="quiz_hero_name">{{ result.name }}</div>
			<div class="quiz_hero_description">{{ result.description }}</div>
		</div>
		<button class="restart btn-option" (click)="start()">Reiniciar</button>
	</div>
</div>
